@font-face {
    font-family: 'NotoSansDisplay-Light';
    src: url(../fonts/NotoSansDisplay-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'NotoSansDisplay-Medium';
    src: url(../fonts/NotoSansDisplay-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'NotoSansDisplay-Regular';
    src: url(../fonts/NotoSansDisplay-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'NotoSansDisplay-SemiBold';
    src: url(../fonts/NotoSansDisplay-SemiBold.ttf);
    font-weight: 600;
}