@import url(./fonts.css);

:root {
    --not300: 'NotoSansDisplay-Light';
    --not400: 'NotoSansDisplay-Regular';
    --not500: 'NotoSansDisplay-Medium';
    --not600: 'NotoSansDisplay-SemiBold';
    --back: #313131;
    --body: #E5E5E5;
    --text: #000000;
    --btn: #313131;
    --sch: #fff;
    --border: #313131;
}

body {
    background-color: white;
    /* background-color: var(--body); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.navbar {
    height: 50px;
    background-color: var(--back);
}

.list {
    list-style: none;
    display: flex;

}

.btnn {
    text-decoration: none;
    font-family: var(--not400);
}

#dropdownMenuLink {
    background: var(--back);
}

.list_a {
    text-decoration: none;
    align-items: center;
    color: white;
    font-family: var(--not400);
    line-height: 20px;
}

.list_a:hover {
    color: white;
}

#list_4 {
    margin-left: 41.5px;
}

#list_3 {
    margin-left: 32.5px;
}

#list_2 {
    margin-left: 79.5px;
}

.icon {
    color: white;
    font-size: 15px;
    margin: 7.5px;
}

.bottom {
    margin-top: 25px;
}

.logo {
    width: 187px;
    height: 64px;
    background-image: url(../images/Logo1.png);
    /* margin-right: 143px; */
}

.form {
    margin-left: 143px;
}

.form-control {
    width: 440px;
    height: 50px;
    border-radius: 0px;
    border: solid 2px var(--border);
    background-color: var(--sch);
}

.form-control_ {
    width: 440px;
    height: 50px;
    padding-left: 10px;
    border-radius: 0px;
    border: 1px solid #313131;
    background-color: #fff;
}

.btn {
    width: 190px;
    height: 50px;
    background-color: var(--btn);
    color: white;
    border: solid 1px var(--border);
    border-radius: 0px;
}

.btn_ {
    width: 190px;
    height: 50px;
    background: #313131;
    color: white;
    border: solid 1px var(--border);
    border-radius: 0px;
    font-family: var(--not400);
    font-size: 14px;
}

.btn:hover {
    background-color: var(--btn);
    border: solid 1px var(--border);
}

.navbar-toggler {
    display: none;
}

.form {
    width: 660px;
    transition: .5s;
}

.intro {
    margin-top: 15px;
    list-style: none;
    height: 35px;
}

.intro_list {
    text-decoration: none;
    align-items: center;
    color: var(--text);
    font-family: var(--not400);
    line-height: 20px;
    font-size: 18px;
    transition: .2s;
}

/* apple start */
.apple {
    margin-top: 50px;
}

.left {
    overflow: hidden;
}

#bot {
    margin: 0 25px;
}

.apple_topic {
    font-family: var(--not600);
    font-size: 48px;
    line-height: 70px;
    color: var(--text);
    text-align: center;
    text-decoration: none;
    margin-bottom: 121px;
}

.apple_title {
    font-family: var(--not400);
    font-size: 18px;
    color: var(--sch);
    padding: 13px 46px;
    text-decoration: none;
    background-color: var(--btn);
    border: var(--border);
}

.carousel_btn {
    background-color: #ABABAB !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}

.carousel_btn:active {
    transform: scale(1.5);
    background-color: var(--text) !important;
}

.dropdown-toggle {
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.dropdown-menu {
    background: var(--body);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    width: 270px;
    position: relative;
    padding-top: 10px;
}

.dropdown-title {
    text-decoration: none;
    color: var(--text);
    font-family: var(--not400);
    font-size: 16px;
    margin-left: 15px;
}

.dropdown-span {
    margin-top: 10px;
}

.dropdown-title:hover {
    border-bottom: 1px solid black;
}

.dropdown-item {
    font-family: var(--not300);
    color: var(--text);
    font-size: 14px;
    line-height: 14px;
}

.intro_list:focus {
    border-bottom: 3px solid black;
    border-color: var(--text);
}

.dropdown-span {
    position: absolute;
    top: 0;
    right: 10px;
}


/* watch start */
.watchs {
    margin-top: 86px;
}


.watch {
    filter: drop-shadow(-10px 5px 4px rgba(0, 0, 0, 0.25));
    /* height: 500px; */
}
.watch img{
    height: 100%;
    width: 100%;
}
.watch p {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: var(--not400);
    font-size: 20px;
    background: #313131;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.watch h5 {
    position: absolute;
    bottom: 0px;
    left: 20px;
    font-family: var(--not500);
    font-size: 24px;
    line-height: 40px;
    color: var(--text);
}
.airpods{
    filter: drop-shadow(-10px 0px 4px rgba(0, 0, 0, 0.15));

}
.airpods img{
    height: 100%;
    width: 100%;
}
.airpods p{
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: var(--not400);
    font-size: 20px;
    line-height: 70px;
    background: #313131;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.airpods h5{
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-family: var(--not500);
    font-size: 24px;
    color: var(--text);
}
.power-bank{
    filter: drop-shadow(-10px 0px 4px rgba(0, 0, 0, 0.15));

}
.power-bank img{
    height: 100%;
    width: 100%;
}
.power-bank p{    
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-family: var(--not400);
    font-size: 20px;
    line-height: 70px;
    background: #313131;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.power-bank h5{
    position: absolute;
    top: 15px;
    left: 20px;
    font-family: var(--not500);
    font-size: 24px;
    color: var(--text);
}
.remax{
    filter: drop-shadow(-10px 0px 4px rgba(0, 0, 0, 0.15));

}
.remax img{
    height: 100%;
    width: 100%;
}
.remax p{    
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-family: var(--not400);
    font-size: 20px;
    line-height: 70px;
    background: #313131;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.remax h5{
    position: absolute;
    top: 15px;
    left: 20px;
    font-family: var(--not500);
    font-size: 24px;
    color: var(--text);
}
.watch_title{
    margin-top: 42px;
    text-align: center;
}
