@import url(./fonts.css);

:root {
    --not300: 'NotoSansDisplay-Light';
    --not400: 'NotoSansDisplay-Regular';
    --not500: 'NotoSansDisplay-Medium';
    --not600: 'NotoSansDisplay-SemiBold';
    --back: #313131;
    --body: #E5E5E5;
    --text: #000000;
    --btn: #313131;
    --sch: #fff;
    --border: #313131;
    --text2: #000000;
    --text3: #fff;
}

body {
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.navbar {
    height: 50px;
    background-color: var(--back);
}

.list {
    list-style: none;
    display: flex;

}

.btnn {
    text-decoration: none;
    font-family: var(--not400);
}

#dropdownMenuLink {
    background: var(--back);
}

.list_a {
    text-decoration: none;
    align-items: center;
    color: white;
    font-family: var(--not400);
    line-height: 20px;
}

.list_a:hover {
    color: white;
}

#list_4 {
    margin-left: 41.5px;
}

#list_3 {
    margin-left: 32.5px;
}

#list_2 {
    margin-left: 79.5px;
}

.icon {
    color: white;
    font-size: 15px;
    margin: 7.5px;
}

.bottom {
    margin-top: 25px;
}

.logo {
    width: 187px;
    height: 64px;
    background-image: url(../images/Logo1.png);
}


.form {
    margin-left: 143px;
}

.form-control {
    width: 440px;
    height: 50px;
    border-radius: 0px;
    border: solid 2px var(--border);
    background-color: var(--sch);
}

.form-control_ {
    width: 440px;
    height: 50px;
    padding-left: 10px;
    border-radius: 0px;
    border: 1px solid #313131;
    background-color: #fff;
}

.btn {
    width: 190px;
    height: 50px;
    background-color: var(--btn);
    color: white;
    border: solid 1px var(--border);
    border-radius: 0px;
}

.btn_ {
    width: 190px;
    height: 50px;
    background: #313131;
    color: white;
    border: solid 1px var(--border);
    border-radius: 0px;
    font-family: var(--not400);
    font-size: 14px;
}

.btn:hover {
    background-color: var(--btn);
    border: solid 1px var(--border);
}

.navbar-toggler {
    display: none;
}

.form {
    width: 660px;
    transition: .5s;
}

.intro {
    margin-top: 15px;
    list-style: none;
    height: 35px;
}

.intro_list {
    text-decoration: none;
    align-items: center;
    color: var(--text);
    font-family: var(--not400);
    line-height: 20px;
    font-size: 18px;
    transition: .2s;
}

/* apple start */
.apple {
    margin-top: 50px;
}

.left {
    overflow: hidden;
}

#bot {
    margin: 0 25px;
}

.apple_topic {
    font-family: var(--not600);
    font-size: 48px;
    line-height: 70px;
    color: var(--text);
    text-align: center;
    text-decoration: none;
    margin-bottom: 121px;
}

.apple_title {
    font-family: var(--not400);
    font-size: 18px;
    color: var(--text3);
    padding: 13px 46px;
    text-decoration: none;
    background-color: var(--btn);
    border: var(--border);
}

.carousel-item {
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
}

.carousel_btn {
    background-color: #ABABAB !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}

.carousel_btn:active {
    transform: scale(1.5);
    background-color: var(--text) !important;
}

.dropdown-toggle {
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.dropdown-menu {
    background: var(--body);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    width: 270px;
    position: relative;
    padding-top: 10px;
}

.dropdown-title {
    text-decoration: none;
    color: var(--text);
    font-family: var(--not400);
    font-size: 16px;
    margin-left: 15px;
}

.dropdown-span {
    margin-top: 10px;
}

.dropdown-title:hover {
    border-bottom: 1px solid black;
}

.dropdown-item {
    font-family: var(--not300);
    color: var(--text);
    font-size: 14px;
    line-height: 14px;
}

.intro_list:focus {
    border-bottom: 3px solid black;
    border-color: var(--text);
}

.dropdown-span {
    position: absolute;
    top: 0;
    right: 10px;
}


/* watch start */
.watchs {
    margin-top: 86px;
    position: relative;
}


.watch {
    filter: drop-shadow(-10px 5px 4px rgba(0, 0, 0, 0.25));
    position: relative;
}

.img {
    position: absolute;
}

.watch p {
    position: absolute;
    top: 20px;
    left: 30px;
    font-family: var(--not400);
    font-size: 20px;
    background: #313131;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.watch h5 {
    position: absolute;
    bottom: 15px;
    left: 30px;
    font-family: var(--not500);
    font-size: 24px;
    line-height: 40px;
    color: var(--text2);
}

.airpods {
    filter: drop-shadow(-10px 0px 4px rgba(0, 0, 0, 0.15));
    position: relative;
}

.airpods p {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: var(--not400);
    font-size: 20px;
    line-height: 70px;
    background: #313131;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.airpods h5 {
    position: absolute;
    bottom: 15px;
    left: 20px;
    font-family: var(--not500);
    font-size: 24px;
    color: var(--text2);
}

.power_box {
    margin-top: 18px;
}

.power-bank {
    filter: drop-shadow(-10px 0px 4px rgba(0, 0, 0, 0.15));
    position: relative;
}

.image {
    position: absolute;
    bottom: -2px;
    right: 10px;
}

.power-bank p {
    position: absolute;
    bottom: 15px;
    left: 30px;
    font-family: var(--not400);
    font-size: 20px;
    line-height: 70px;
    background: #313131;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.power-bank h5 {
    position: absolute;
    top: 15px;
    left: 30px;
    font-family: var(--not500);
    font-size: 24px;
    color: var(--text2);
}

.remax {
    filter: drop-shadow(-10px 0px 4px rgba(0, 0, 0, 0.15));
    position: relative;
}

.remax p {
    position: absolute;
    bottom: 15px;
    left: 30px;
    font-family: var(--not400);
    font-size: 20px;
    line-height: 70px;
    background: #313131;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.remax h5 {
    position: absolute;
    top: 15px;
    left: 30px;
    font-family: var(--not500);
    font-size: 24px;
    color: var(--text2);
}

.watch_title {
    margin-top: 42px;
    text-align: center;
}

.watch img {
    width: 100%;
}

.airpods img {
    width: 100%;
}

.power-bank img {
    width: 100%;
}

.remax img {
    width: 100%;
}


/* cell-phone start */
.cell-phone {
    margin-top: 70px;
    margin-bottom: 70px;
}

.each_title {
    color: var(--text);
}

.cell-box {
    margin-top: 30px;
}

.CP_box {
    height: 300px;
    background-image: url(../images/cp1.png);
    padding-bottom: 28px;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.CP_box span {
    width: 100%;
    height: 100%;
    background: radial-gradient(39.9% 39.9% at 50% 38.67%, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: -1;
}

.CP_2 {
    background-image: url(../images/cp2.png);
}

.CP_3 {
    background-image: url(../images/cp3.png);
}

.CP_4 {
    background-image: url(../images/cp4.png);
}

.CP_box_p {
    font-family: var(--not500);
    color: var(--text);
    font-size: 16px;
    line-height: 22px;

}

.CP_box_lp {
    font-family: var(--not300);
    color: var(--text);
    font-size: 18px;
    line-height: 20px;
}

/* computer start */
.laptops {
    margin-top: 30px;
    margin-bottom: 30px;
}

.comp_box {
    height: 300px;
    background-image: url(../images/laptop1.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 17px;
}

.comp_box span {
    width: 100%;
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: -1;
}

.comp_text {
    font-family: var(--not400);
    font-size: 16px;
    line-height: 22px;
    color: var(--text);
    text-align: center;
}

.copm_text2 {
    font-family: var(--not300);
    font-size: 14px;
    color: var(--text);
}

.comp_box2 {
    background-image: url(../images/laptop2.png);
}

.comp_box3 {
    background-image: url(../images/laptop3.png);
}

.comp_box4 {
    background-image: url(../images/laptop4.png);

}

/* play station start */
.play-station {
    margin-top: 70px;
    margin-bottom: 70px;
}

.PS_left {
    /* height: 500px; */
    padding-left: 20px;
}

.PS {
    font-size: 71px;
    color: var(--text);
    margin-top: 94px;
    margin-bottom: 20px;
}

.ps_text {
    color: var(--text);
    font-family: var(--not600);
    font-size: 48px;
    margin-bottom: 70px;
}

.ps_title {
    text-align: left;
}

.PS_right img {
    width: 100%;
    height: 100%;
}

.PS_right span {
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

/* seller start */
.seller {
    margin-top: 70px;
}

.seller_box {
    position: relative;
    height: 330px;
    background: radial-gradient(39.9% 39.9% at 50% 38.67%, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
    background-position: center;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.seller_text {
    position: absolute;
    bottom: 39px;
    color: var(--text);
    font-family: var(--not500);
    font-size: 16px;
    text-align: center;
}

.seller_text2 {
    position: absolute;
    color: var(--text);
    font-size: 14px;
    font-family: var(--not300);
    bottom: 17px;
}

.seller_box span {
    height: 100%;
    width: 100%;
}

.seller_box img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.seller_title {
    text-align: center;
}

/* next start */
.next {
    height: 100px;
}

.next_page {
    text-align: center;
}

.next_page a {
    text-decoration: none;
    font-family: var(--not400);
    font-size: 18px;
    color: #ABABAB;
    margin: 0 15px 0 15px;
}

.next_page a:hover {
    color: black;
    font-family: var(--not600);
}

/* footer start */
.footer {
    background-color: var(--back);
    height: 230px;
}

.footer_search {
    width: 63%;
    height: 50px;
    background-color: #fff;
    border: 1px solid #FFFFFF;
}

.footer_btn {
    width: 37%;
    height: 50px;
    background-color: var(--btn);
    font-family: var(--not400);
    font-size: 18px;
    color: #fff;
    background: #313131;
    border: 1px solid #FFFFFF;
}

.footer_btn:hover {
    background: #313131;
    border: 1px solid #FFFFFF;
}

.Foooter_left {
    margin-top: 30px;
}

.Foooter_center p {
    font-family: var(--not400);
    font-size: 18px;
    margin-top: 30px;
    color: white;
    margin-bottom: 5px;
}

.Foooter_right {
    display: flex;
    align-items: flex-end;
    align-items: stretch;
}

.Foooter_right i {
    font-size: 50px;
    color: white;
}

.Foooter_right a {
    margin-left: 25px;
}

.fcbk {
    font-size: 45px !important;
}

.footer_titles {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    list-style: none;
}

.footer_title {
    text-decoration: none;
    color: white;
    font-family: var(--not400);
    font-size: 18px;
}

.next_page {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}